<div class="page-header">
  <h1>Random Circles</h1>
</div>

<% @radii.each do |radius| %>
  <div class="row">
    <div class="col-sm-12">
      <p class="lead">
        Click <a href="http://localhost:3000/areas/circle/<%= radius %>">here</a> to see the area of a circle of radius <%= radius %>.
      </p>
    </div>
  </div>
<% end %>
