<div class="page-header">
  <h1>Rectangle</h1>
</div>

<div class="row">
  <div class="col-md-12">
    <p class="lead">The area of a rectangle with width <%= @w %> and height <%= @h %> is <%= @area %>.</p>
  </div>
</div>

